<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>商品首页</title>
    <%include("/includes/common.html"){}%>
    <%include("/includes/toolbar.html"){}%>
</head>
<body>

<div class="layui-fluid list_card">
    <div class="layui-form list_box">
        <!--搜索条件-->
        <div class="layui-card-header layuiadmin-card-header-auto layui-row">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-block">
                        <input type="text" name="keyword" value="" placeholder="请输入商品名称" class="layui-input">
                    </div>
                </div>
                <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">动态选择器</label>-->
                <!--<div class="layui-input-block">-->
                <!--<select name="selectId" lay-search="" id="selectId" ></select>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">静态选择器</label>-->
                <!--<div class="layui-input-block">-->
                <!--<select name="selectId2" lay-search="" class="layui-select">-->
                <!--<option value="">-全部-</option>-->
                <!--<option value="1">选择1</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!--按钮组-->
        <div class="layui-row list_btnGroup">
            <div style="float: left;">
                <button class="layui-btn layui-btn-sm" layadmin-event="add">添加</button>
            </div>
            <div class="layui-btn-group" style="float: right;">
                <button class="layui-btn layui-btn-sm layui-bg-cyan" title="搜索" lay-submit lay-filter="searchBtn"><i class="layui-icon layui-icon-search"></i></button>
                <button class="layui-btn layui-btn-sm layui-bg-cyan" title="刷新" layadmin-event="refresh"><i class="layui-icon layui-icon-refresh"></i></button>
            </div>
        </div>
        <!--表格渲染-->
        <div class="layui-row list_table">
            <table id="dataList" lay-filter="dataList"></table>
        </div>
    </div>
</div>

<!-- 条件筛选 -->
<script  type="text/html" id="gender">
    {{# if(d.gender==1){ }}
    <span>男</span>
    {{# }else if(d.gender==2){ }}
    <span>女</span>
    {{# } }}
</script>

<!-- 循环遍历 -->
<script  type="text/html" id="gz">
    {{#  layui.each(d.ptlist, function(index, item){ }}
    <span class="layui-badge layui-bg-cyan">{{item}}</span>&nbsp;
    {{#  }); }}
</script>

<!-- 开关 -->
<script type="text/html" id="stateTpl">
    <input type="checkbox" name="status" data-id="{{d.id}}" lay-skin="switch"
           lay-filter="stateFilter" style="width:52px;" lay-text="上架|下架" {{d.status== 1 ? 'checked' : '' }} />
</script>

<!-- 开关2 -->
<!--<script type="text/html" id="stateTp2">-->
<!--    <input type="checkbox" name="isMeal" data-id="{{d.id}}" lay-skin="switch"-->
<!--           lay-filter="stateFilter2" style="width:52px;" lay-text="是|否" {{d.isMeal== 1 ? 'checked' : '' }} />-->
<!--</script>-->

<!-- 头像 -->
<script id="headUrl" type="text/html">
    <img class="layui-circle" src="{{d.avatarUrl}}" style="width: 50px;height: 100%;"/>
</script>

<!-- 封面 -->
<script type="text/html" id="picture">
    {{#  layui.each(d.attachment, function(index, item){ }}
    {{# if(item!=null&&item.url!=null&&item.url!=""&&item.type==1){ }}
    <img src="{{item.url}}"  style="width:100%;height: 100%;" onclick="LookPhoto(this.src)"/>
    {{# }else{ }}
    {{# } }}
    {{#  }); }}
</script>
<script type="text/html" id="imageUrlTpl">
    {{#  layui.each(d.attachment, function(index, item){ }}
    {{# if(item!=null&&item.url!=null&&item.url!=""&&item.type==2){ }}
    <div class="tableOutImage" onclick="LookVideo('{{item.url}}','{{item.id}}')">
        <img src="{{ item.url}}" height="50" width="100"/>
        <p><i class="layui-icon" style="font-size: 24px;">&#xe652;</i></p>
    </div>
    {{# } }}
    {{#  }); }}
    <!--{{#  if(d.attachment !=null&&d.attachment !=''){ }}-->
    <!--<div class="tableOutImage" lay-event="showPicture">-->
        <!--<img src="{{ d.attachment}}" height="50" width="100"/>-->
        <!--<p><i class="layui-icon" style="font-size: 24px;">&#xe652;</i></p>-->
    <!--</div>-->
    <!--{{#  } }}-->
</script>

<!-- 排序-->
<script type="text/html" id="ordersTpl">
    <input name="sort" value="{{d.sort}}" style="height: 28px;" data-oval="{{d.sort}}" data-id="{{d.id}}"
           class="layui-input sort" onkeyup="value=value.replace(/[^\d]/g,'')"
           keydown="value=value.replace(/[^\d]/g,'')">
</script>
<!-- 增删改-工具模板栏-->
<script type="text/html" id="toolbar1">
        <button class="layui-btn layui-btn-xs layui-bg-blue" lay-event="edit" title="修改">修改</button>
        <button class="layui-btn layui-btn-xs layui-bg-green" lay-event="detail" title="详情">详情</button>
        <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" title="删除">删除</button>
</script>
<script type="text/javascript">
    layui.use(['index','layer', 'table', 'element', 'form', 'laytpl'], function () {
        var table = layui.table, form = layui.form;
        var admin = layui.admin;
        /**创建表格*/
        table.render({
            elem: '#dataList',
            url: $ctx + '/Cargo/pageList',
            method: "POST",
            page: true,
            loading: true,
            cols: [[
                {field: '', title: '封面',templet:'#picture',width:100, align: 'center'},
                {field: 'name', title: '商品名称', width: 150},
                {field: 'tellphone', title: '客服电话', width: 150, align: 'center'},
                {field: 'originalPrice', title: '原价',width:100,align: 'right',sort: true, templet:function (d) {
                    if(d.originalPrice!=null){
                        return d.originalPrice.toFixed(2)+"元";
                    }else{
                        return "";
                    }
                    }},
                {field: 'salePrice', title: '现价',width:100,align: 'right',sort: true, templet:function (d) {
                        if(d.salePrice!=null){
                            return d.salePrice.toFixed(2)+"元";
                        }else{
                            return "";
                        }
                    }},
                {field: 'saleNum', title: '销量', width: 100,align: 'right',sort: true},
                {field: 'status', title: '是否上架', templet: '#stateTpl', align: 'center', width: 120},
                {field: 'sort', title: '排序', width: 90, templet: '#ordersTpl', align: 'center'},
                // {field: 'isMeal', title: '是否选择套餐', templet: '#stateTp2', width: 150, align: 'center'},
                {field: 'tool', title: '操作', width: 200,align:'center', toolbar: '#toolbar1'}
            ]]
            , limit: 10
            , text: {
                none: '暂无相关数据'
            }
            ,done: function (res, curr, count) {
                //排序
                $("input[name=sort]").on("focus", function () {
                    $(this).attr("data-oval", $(this).val()); //将当前值存入自定义属性
                }).on("blur", function () {
                    var oldVal = $(this).attr("data-oval"); //获取原值
                    var orders = $(this).val(); //获取当前值
                    if (!orders) {
                        $(this).val(oldVal);
                        return;
                    }
                    if (oldVal != orders) {
                        var id = $(this).attr("data-id");
                        if (orders && id) {
                            $.ajaxPost('/Cargo/update',{id: id, sort: orders},
                                function (data) {
                                    table.reload("dataList");
                                });
                        }
                    }
                });
            }
        });
        //搜索
        form.on('submit(searchBtn)', function (data) {
            var field = data.field;
            table.reload('dataList', {
                where: field,
                page: {curr: 1}
            });
        });
        //刷新
        admin.events.refresh = function () {
            table.reload('dataList');
        };
        //添加
        admin.events.add = function () {
            LayOpen('添加','/Cargo/toAdd','add');
        };
        //批量删除
        admin.events.delete = function () {
            var array = table.checkStatus("dataList").data;
            if(array.length>0) {
                var idsArr=new Array();
                array.forEach(function(res) {idsArr.push(res.id);});
                layer.confirm('是否删除选中的数据?', function (index) {
                    $.ajaxPost( '/Cargo/deleteForList',{ids:idsArr},function (d) {
                        table.reload("dataList");
                    });
                });
            }else{
                layer.msg("请勾选要删除信息", { time: 1000});
            }
        };
        //监听开/关
        form.on('switch(stateFilter)', function (data) {
            var name = $(data.elem).attr("name"), id = $(data.elem).attr("data-id"),
                obj = data.elem, isChecked = data.elem.checked, val = 0;
            if (isChecked) val = 1;
            $.ajaxPost("/Cargo/update", {id: id, status: val});
        });

        //监听开/关/更新 是否套餐
        // form.on('switch(stateFilter2)', function (data) {
        //     var name = $(data.elem).attr("name"), id = $(data.elem).attr("data-id"),
        //         obj = data.elem, isChecked = data.elem.checked, val = 0;
        //     if (isChecked) val = 1;
        //     $.ajaxPost("/Cargo/update", {id: id, isMeal: val});
        // });

        //监听工具条(查询|编辑|删除|查看图片)
        table.on('tool(dataList)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event;
            if (layEvent == 'detail') {//详情
                LayOpen('详情', '/Cargo/detail?id=' + data.id, 'find');
            }else if(layEvent == 'edit') { //编辑
                LayOpen('编辑', '/Cargo/toAdd?id=' + data.id,'update');
            }else if(layEvent=='lookPhoto'){//查看图片
                LookPhoto(data.attachment.url);
            }else if(layEvent == 'del') { //删除
                layer.confirm('是否删除该数据?', function (index) {
                    var param = {id: data.id};
                    $.ajaxPost( '/Cargo/delete', param,function (data) {
                        table.reload("dataList");
                    });
                });
            }
        });
        //表单更新
        form.render();
    });
    function LookVideo(url,id){
        var fileList =url;
        var json = {};
        json.title = "截图";
        json.id = id;
        json.start = 0;
        var arr = new Array();

        var pic = {};
        pic.alt = "截图";
        pic.pid = "";
        pic.src = fileList;
        pic.thumb = fileList;
        arr.push(pic);

        json.data = arr;
        layer.photos({
            photos: json,
            anim: 5
        });
    }
</script>

</body>
</html>
