<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxkj.mapper.BargainOrderFlowMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxkj.entity.BargainOrderFlow">
                    <id column="id" property="id" />
                    <result column="cargo_id" property="cargoId" />
                    <result column="bargain_id" property="bargainId" />
                    <result column="bargain_order_id" property="bargainOrderId" />
                    <result column="price" property="price" />
                    <result column="sort" property="sort" />
                    <result column="status" property="status" />
                    <result column="end_member_id" property="endMemberId" />
                    <result column="end_time" property="endTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, cargo_id, bargain_id, bargain_order_id, price, sort, status, end_member_id, end_time
    </sql>

</mapper>
