<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxkj.mapper.GiftcardBatchMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxkj.entity.GiftcardBatch">
                    <id column="id" property="id" />
                    <result column="sequence" property="sequence" />
                    <result column="serial" property="serial" />
                    <result column="passcode" property="passcode" />
                    <result column="status" property="status" />
                    <result column="reason" property="reason" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, sequence, serial, passcode, status, reason, create_by, create_time
    </sql>

</mapper>
