<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxkj.mapper.MaterialInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxkj.entity.MaterialInfo">
                    <id column="id" property="id" />
                    <result column="tid" property="tid" />
                    <result column="title" property="title" />
                    <result column="vod" property="vod" />
                    <result column="description" property="description" />
                    <result column="create_time" property="createTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, tid, title, vod, description, create_time
    </sql>

</mapper>
