<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxkj.mapper.MemberMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxkj.entity.Member">
                    <id column="id" property="id" />
                    <result column="mobile" property="mobile" />
                    <result column="avatar" property="avatar" />
                    <result column="retailer_id" property="retailerId" />
                    <result column="create_time" property="createTime" />
                    <result column="update_time" property="updateTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, mobile, avatar, retailer_id, create_time, update_time
        </sql>

        <update id="updateIntegral" parameterType="com.lxkj.entity.Member">
            update member set integral=#{integral}
            where id=#{id}
        </update>

</mapper>
