<!DOCTYPE html>
<html style="background-color: #fff;">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>编辑内容</title>
    <%include("/includes/common.html"){}%>
</head>
<body class="childrenBody">
    <form class="layui-form" id="addForm" >

        <div class="layui-form-item">
            <label class="layui-form-label">机构名称<font color="red">*</font></label>
            <div class="layui-input-block">
                <input type="text" name="orgName"  value="${SysOrg.orgName}" lay-verify="required" autocomplete="off" class="layui-input" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">机构编码</label>
            <div class="layui-input-block">
                <input type="text" name="orgCode"  value="${SysOrg.orgCode}"  autocomplete="off" id="name" class="layui-input" >
            </div>
        </div>

        <!--隐藏域-不用乱动 -->
        <div class="layui-form-item layui-hide">
            <button class="layui-btn" lay-submit="" lay-filter="save" id="save">确认</button>
            <input type="hidden" name="id"  value="${SysOrg.id}">
        </div>
    </form>
<script type="text/javascript">
    layui.use(['index','layer', 'table', 'element', 'form', 'laytpl','laydate'], function () {
        var form = layui.form;
        var admin = layui.admin;
        //表单提交
        form.on('submit(save)', function (data) {
            var param = data.field;
            $.ajaxPost( "/SysOrg/save", param, function (res) {
                getParentIframe().resh();
                winClose();
            });
            return false;
        });
        form.render();
     })

</script>
</body>
</html>