<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>编辑内容</title>
    <%include("/includes/common.html"){}%>
    <%include("/includes/ueditor.html"){}%>
</head>
<body>
<div class="layui-fluid list_card">
    <div class="layui-form list_box">
        <!--搜索条件-->
        <div class="layui-card-header layuiadmin-card-header-auto layui-row">
            <form class="layui-form" id="addForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">奖励积分<font color="red">*</font></label>
                    <div class="layui-input-inline">
                        <input type="text" name="credit_reward_rate@${credit_reward_rate.id}" id="credit_reward_rate"
                               value="${credit_reward_rate.value}" lay-verify="required|number" placeholder="请输入非负数"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">每消费1元可奖励积分数</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">抵扣积分<font color="red">*</font></label>
                    <div class="layui-input-inline">
                        <input type="text" name="credit_discount_rate@${credit_discount_rate.id}"
                               id="credit_discount_rate" value="${credit_discount_rate.value}"
                               lay-verify="required|number" placeholder="请输入非负数" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">每抵扣1元需要消耗积分数量</div>
                </div>
                <!--隐藏域-不用乱动 -->
                <div class="layui-form-item " style="text-align:center">
                    <button class="layui-btn" lay-submit="" lay-filter="save" id="save">提交保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['index', 'layer', 'table', 'element', 'form', 'laytpl', 'laydate'], function () {
        var form = layui.form;
        var admin = layui.admin;

        //表单提交
        form.on('submit(save)', function (data) {
            var param = data.field;
            var val1 = $("#credit_reward_rate").val();
            var val2 = $("#credit_discount_rate").val();
            if (val1 <= 0 || val2 <= 0) {
                layer.msg("请输入非负数", {icon: 5, time: 700});
                return false;
            }
            $.ajaxPost("/Config/save", param, function (res) {
            });
            return false;
        });
        form.render();
    });

    function aClick() {
        window.open("http://lbs.qq.com/tool/getpoint/", "_blank")
    }
</script>
</body>
</html>